@import '@/styles/layouts/l1/layout.min.css';
@import '@/styles/components/l1/components.min.css';

html {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex: 1;
    flex: 1;
    height: 100%;
    overflow: hidden;
}

body {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex: 1;
    flex: 1;
    height: 100%;
    overflow: hidden;
}

#root {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex: 1;
    flex: 1;
    height: 100%;
    overflow: hidden;
}
